/* Importando fontes do google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* Reset inicial do documento 

OBS: é sempre aconselhável fazer isso antes de começar 

*/

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

}

/* Corpo da página */

body {
   background: url(/img/backgrounds/Val-background-body.png) no-repeat fixed;
   background-size: cover;
   background-color: #0d1620;

}

/* Cabeçalho da página */

.cabecalho {
   display: flex;
   overflow: hidden;
   position: fixed;
   width: 100%;
   height: 7%;
   max-height: 50px;
   background-color: #0d1620;
   align-items: center;
   z-index: 100;

}

/* Elementos do cabeçalho */

.cabecalho img {
   margin-left: 1%;
   height: 77%;

}

.pink-svg {
   width: 14%;
   margin-left: 5%;

}

/* Compões todos os componentes principais da página */

.page {
   padding-top: 5%;
   width: 94%;
   height: 100%;
   margin: 0 auto;

}

.content {
   width: 100%;
   max-height: 530px;
}

/* Ajustando container do video de entrada no topo da página */

.val-background1 {
   width: 100%;
   max-height: 615px;

}

.val-background1 video {
   width: 100%;

}

/* Ajustando container dos mini-videos de jogadas e texto sobre o game */

.val-gifs {
   background-color: #FAEDDA;
   background: url(/img/backgrounds/Val-background-body2.png) no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;

}

.gifs-1 {
   margin: 0 auto 0 8%;
   width: 180%;

}

.gifs-1 video {
   width: 100%;
   height: 100%;
   border-radius: 10px;

}

.gifs-1-text {
   overflow: hidden;
   padding: 3% 8%;
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   color: black;
   font-size: 17px;

}

/* Destacando palavras de enfase da página */

.enfase {
   font-size: 40px;

}

.enfase2 {
   text-shadow: 4px 0 1px #FF5757;
   font-size: 40px;

}

/* Container sobre os mapas do game */

.val-maps-div {
   overflow: hidden;
   background-color: #FAEDDA;
   background: url(/img/backgrounds/Val-background-body2.png) no-repeat;
   background-size: cover;
   display: flex;
   height: 100%;
   align-items: center;
   flex-direction: row-reverse;

}

.val-maps-div img {
   margin: 0 auto 0 7%;
   width: 44%;
   border-radius: 10px;

}

.val-maps-text {
   overflow: hidden;
   padding: 3% 8%;
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   color: black;
   font-size: 17px;

}


.enfaseMaps {
   font-size: 40px;

}

.enfase2Maps {
   text-shadow: 4px 0 1px #FF5757;
   font-size: 40px;

}

.enfase3Maps {
   color: #FF5757;
   font-size: 17px;

}

/* Banner de fechamento da página */

.val-banner {
   margin-top: 2%;
   width: 100%;
   height: 100%;
   max-height: 600px;

}

.val-banner img {

   width: 100%;
   height: 100%;
}

/* Rodapé da página contendo as informções de contado entre outras */

.rodape {
   margin-top: 2%;
   width: 100%;
   height: 30vh;
   max-height: 25vh;
   background-color: #FF5757;

}

/* Estilizando Scrollbar da página com a temática do game */

::-webkit-scrollbar {
   width: 15px;
   background-color: #FF5757;
   border: solid 0.3px black;

}

::-webkit-scrollbar-thumb {
   background-color: #08172b;
   border: solid 0.3px black;
   border-radius: 5px;

}

/* Para funcionamento do arquivo Resizer.js */

.content-alpha {
   height: 530px;
   max-height: 530px;
}

.content-bravo {
   height: 530px;
   max-height: 530px;
}

.content-delta {
   height: 530px;
   max-height: 530px;
}