@import url(/css/index.css);

/* Container da sessão de agentes */

.val-agents-div {
   position: relative;
   overflow: hidden;
   height: 100%;
   background: url(/img/backgrounds/Val-background-body2.gif) no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;

}

/* Ajustando elementos do container */

.agent {
   position: absolute;
   top: 7%;
   width: 23%;
   right: 18%;

}

.etiqueta-agents {
   overflow: hidden;
   position: absolute;
   font-weight: bolder;
   background-color: wheat;
   border-radius: 40px 0 15px 0;
   right: 0;
   bottom: 42%;
   width: 15%;
   height: 11%;
}

.nome-agent {
   display: flex;
   width: 100%;
   height: 100%;
   padding-left: 10%;
   align-items: center;
   font-size: 23px;
   color: #ff5a1e;
   letter-spacing: 5px;
   font-family: 'Raleway', sans-serif;

}

.val-agents-titulo {
   position: absolute;
   left: 13%;
   top: 5%;
   width: 30%;
}

.val-agents-text {
   width: 33.8%;
   height: 217px;
   left: 12%;
   top: 36%;
   text-align: justify;
   font-size: 17px;
   position: absolute;
   font-family: 'Montserrat', sans-serif;


}

/* Transição dos agentes do container agentes */

.transition {
   animation: agents-trasition 2.7s linear;

}

/* Criando a animação de transição */

@keyframes agents-trasition {

   from {
      opacity: 1;
      right: 18%;

   }

   to {
      opacity: 0;
      right: 23%;

   }
}